{% extends "master.html" %}
{% block "content" %}

    <tr>
        <!--<td style="text-align:center" font-family: Georgia>
            We prioritize quality, sustainability, and customer satisfaction. We work with reputable suppliers and manufacturers to ensure that the products we offer are of the highest quality and adhere to ethical and environmental standards.
            Our vision is to empower homeowners with the tools and resources to create spaces that reflect their unique personalities and styles. We aim to be the go-to platform for anyone looking to enhance their living spaces and make their dream home a reality.
            Our platform connects you with experienced interior designers and decorators who understand your preferences and deliver personalized design recommendations tailored to your needs.
            Get inspired by browsing through a wide array of home decor ideas, style guides, and trend updates to spark your creativity.</td>
        <td>-->
        <center>
            <img src="/static/images/about.png" alt="aboutus" height="200px" width="200px"></center>
        
            <td style="text-align:center" font-family: Georgia>
                We prioritize quality, sustainability, and customer satisfaction. We work with reputable suppliers and manufacturers to ensure that the products we offer are of the highest quality and adhere to ethical and environmental standards.
                Our vision is to empower homeowners with the tools and resources to create spaces that reflect their unique personalities and styles. We aim to be the go-to platform for anyone looking to enhance their living spaces and make their dream home a reality.
                Our platform connects you with experienced interior designers and decorators who understand your preferences and deliver personalized design recommendations tailored to your needs.
                Get inspired by browsing through a wide array of home decor ideas, style guides, and trend updates to spark your creativity.</td>
            <td>
        </td>
    </tr>
</table> 
{% endblock %}