{% extends "master.html" %}
{% block "content" %}

<body>

    <h1 style="text-align: center; font-family: Georgia; font-size: xx-large; font-synthesis: style;color: brown;">
        Contact Us</h1>
   <center> <img src="/static/images/contactus.gif" alt="ContactUs" height="300px" width="350px"><br> <br></center>
    <p style="text-align: center; font-size: larger;">We are always happy to hear from our customers!</p><br>
    <div style="color: brown; font-size: larger;">
    <span style="margin-left: 160px;">Have feedback or just want to say ‘Hello’?</span> <span
        style="margin-left: 250px;">Looking to place a bulk order?</span><br>
    <span style="margin-left: 160px;">Write to us:talk@nestwell.in</span> <span style="margin-left:340px;">Contact:
        corporatesales@nestwell.in</span><br><br>
    </div>

</body>
{% endblock %}