{%extends "master.html"%}


{%block "content"%}

<h1>View Details</h1>
<form method="post" action="/addToCart"> 
    {%csrf_token%}
<table class="table">

    <tr><td>Product Name:</td>
            <td>
    <input type="hidden" name="pid" value="{{product.id}}"/>
                {{product.product_name}}</td></tr>
    <tr><td>Product Price:</td>
                <td>{{product.price}}</td></tr>
    <tr><td>Product Description:</td>
                    <td>{{product.description}}</td></tr>
    <tr><td>Product Size:</td>
                        <td>{{product.size}}</td></tr>
    <tr><td>Category:</td>
    <td>{{product.category.category_name}}</td></tr>
    <tr><td>Quantity:</td>
    <td><select class="form-control" name="qty">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select></td></tr>
    <tr><td><button class="button btn-success" type="submit">Add To Cart</button>
        </td>
    <td><img src="{{product.image.url}}" class="img-circle" style="height:300px;width:300px"/></td></tr>
</table>
</form>
{%endblock%}